/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-family: "Futura", "Impact", helvetica, artial, sans-serif;
  color: #000000;
  letter-spacing: 2px;
  text-shadow: 3px 3px 1px red;
}

h2 {
  font-family: "Chalboard", "Comic Sans", sans-serif;
  font-style: italic;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-shadow: 2px 2px 1px black;
}